@font-face {
  font-family: "La Parisienne";
  src: url("../assets/fonts/la_parisienne.woff") format("woff");
}

@font-face {
  font-family: "Biko";
  src: url("../assets/fonts/biko_regular.woff") format("woff");
}

@font-face {
  font-family: "Choplin Extra Light";
  src: url("../assets/fonts/choplin-extralight-demo.woff") format("woff");
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  height: 1100px;
  max-width: 100vw;
  font-family: "Biko";
  font-weight: 400;
  color: #3b403f;
  background-color: #fff;
  overflow: hidden;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  margin-top: 2em;
  margin-bottom: 7rem;
}

.header__logo {
  display: none;
  margin: 0 auto;
}

.header .logo {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.header .logo-icon {
  position: absolute;
  display: block;
  width: 45px;
}

.header .logo .apple {
  left: -5px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: flyApple ease-in-out 3s forwards infinite;
          animation: flyApple ease-in-out 3s forwards infinite;
}

.header .logo .cake {
  right: -5px;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-animation: flyCake ease-in-out 3s forwards infinite;
          animation: flyCake ease-in-out 3s forwards infinite;
}

.header__title, .header__subtitle {
  text-align: center;
}

.header__title {
  font-size: 7rem;
  font-weight: 400;
  color: #3b403f;
  font-family: "La Parisienne";
}

.header__subtitle {
  font-size: 1.3rem;
  color: #d38b87;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  position: relative;
  top: 10px;
}

@-webkit-keyframes flyApple {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes flyApple {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes flyCake {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes flyCake {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

.nav {
  z-index: 100;
  position: absolute;
  top: 11rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nav__menu {
  position: relative;
  margin: 0;
  padding: 20px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.nav__menu-text {
  display: none;
  position: relative;
  top: -9px;
  left: 5px;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.nav__menu-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 29px;
}

.nav__menu-inner {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 3px;
  -webkit-transition: background-color 0.1s 0.3s ease;
  transition: background-color 0.1s 0.3s ease;
  background-color: #333;
}

.nav__menu-inner::before, .nav__menu-inner::after {
  position: absolute;
  content: "";
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #333;
  -webkit-transition: -webkit-transform 0.2s 0.2s ease-in-out;
  transition: -webkit-transform 0.2s 0.2s ease-in-out;
  transition: transform 0.2s 0.2s ease-in-out;
  transition: transform 0.2s 0.2s ease-in-out, -webkit-transform 0.2s 0.2s ease-in-out;
}

.nav__menu-inner::before {
  top: -10px;
}

.nav__menu-inner::after {
  top: 10px;
}

.nav__list {
  margin-top: 50px;
}

.nav__list-item {
  margin-bottom: 20px;
  padding-left: 20px;
}

.nav__list-item a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.nav__list-item a:hover {
  color: #d38b87;
}

.nav__list-instagram {
  display: block;
  padding: 2rem 0;
  text-align: center;
  font-size: 2rem;
  color: #829f9f;
}

.nav__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem auto;
}

.nav__icons a {
  display: block;
  margin-right: 1.5rem;
  width: 2.3rem;
  height: 2.3rem;
}

.nav__icons a svg {
  fill: #fbf2ec;
}

.nav__icons .mail {
  margin-right: 0;
  margin-left: 3px;
  width: 3rem;
  height: 3rem;
}

.nav__icons .mail svg {
  margin-top: 1.3px;
  width: 3rem;
  height: 3rem;
  -webkit-filter: invert(57%) sepia(33%) saturate(463%) hue-rotate(315deg) brightness(102%) contrast(86%);
          filter: invert(57%) sepia(33%) saturate(463%) hue-rotate(315deg) brightness(102%) contrast(86%);
}

.menu--active {
  z-index: 10;
}

.menu--active .nav__menu-inner {
  background-color: transparent;
}

.menu--active .nav__menu-inner::before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.menu--active .nav__menu-inner::after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.navigation {
  position: absolute;
  padding-bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 6.4rem;
  width: 100vw;
  max-width: 400px;
  background-color: #333;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.3s linear, opacity 0.3s linear;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.navigation__active {
  visibility: visible;
  opacity: 1;
}

.menu--scroll {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 0;
  right: 0;
  width: 100vw;
  background-color: #ffffffa3;
}

.show {
  display: inline-block;
}

.section__header .container {
  position: relative;
}

.section__header-left {
  height: 45vh;
  max-width: 100vw;
}

.section__header img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__header-right {
  display: none;
}

.section__header-center {
  position: absolute;
  left: 50%;
  top: 80%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: transparent;
  width: 95vw;
  max-width: 400px;
}

.section__header-center-box {
  position: relative;
  background-color: #fbf2ec;
  padding: 1rem;
  height: 5rem;
  margin-bottom: 1rem;
}

.section__header-center h3,
.section__header-center a {
  position: absolute;
  top: 50%;
  left: 4%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.section__header-center h3 {
  font-size: 1.8rem;
}

.section__header-center a {
  display: block;
  margin-top: 2rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.section__header-center .header-last h3 {
  font-family: "La Parisienne";
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 6rem;
}

@media screen and (min-width: 375px) {
  .section__header-left {
    height: 50vh;
  }
}

@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 3em;
  }
  .nav {
    top: 1.5rem;
    right: 0;
    left: initial;
    -webkit-transform: initial;
            transform: initial;
  }
  .nav__menu-text {
    display: inline-block;
  }
  .nav-container {
    position: relative;
    top: -115px;
  }
  .navigation {
    left: -50%;
    top: 9rem;
    max-width: 340px;
  }
  .container {
    width: 95vw;
  }
  .section__header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section__header-left {
    width: 65%;
  }
  .section__header-right {
    display: block;
    width: 33%;
    height: 38vh;
  }
  .section__header-center {
    left: 70%;
    top: 55%;
  }
}

@media screen and (min-width: 993px) {
  .header__logo {
    display: block;
  }
  .section__header-left {
    height: 75vh;
  }
  .section__header-right {
    height: 65vh;
  }
  .section__header-center {
    padding: 3rem;
    max-width: 600px;
    left: 64%;
    top: 52%;
  }
  .navigation {
    max-width: 400px;
  }
}
/*# sourceMappingURL=main.css.map */