@font-face {
  font-family: "La Parisienne";
  src: url("../assets/fonts/la_parisienne.woff") format("woff");
}

@font-face {
  font-family: "Biko";
  src: url("../assets/fonts/biko_regular.woff") format("woff");
}

@-webkit-keyframes flyApple {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes flyApple {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes flyCake {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes flyCake {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  max-width: 100vw;
  font-family: "Biko";
  font-weight: 400;
  color: #3b403f;
  background-color: #fff;
  overflow-x: hidden;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f58c7c;
}

a:hover {
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.btn-style {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-family: "Rokkitt", serif;
  letter-spacing: 0.2em;
  font-size: 1.5rem;
  width: 300px;
  text-transform: uppercase;
  background-color: #829f9f;
  color: #fff;
  padding: 0.7em 1.2em;
}

.btn-style:hover {
  background-color: #96afaf;
  color: #3b403f;
}

.heading-style {
  line-height: 1.5;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #f58c7c;
  font-family: "Rokkitt", serif;
}

.text-small {
  font-family: "Cabin";
  font-size: 1.6rem;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-weight: 400;
}

.fancy-style {
  font-family: "La Parisienne";
  font-weight: 400;
  letter-spacing: 0;
  font-size: 8rem;
  color: #3b403f;
}

.header {
  margin-top: 2em;
  margin-bottom: 7rem;
}

.header__logo {
  margin: 0 auto;
}

.header .logo {
  display: none;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.header .logo-icon {
  position: absolute;
  display: block;
  width: 45px;
}

.header .logo .apple {
  left: -5px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: flyApple ease-in-out 3s forwards infinite;
          animation: flyApple ease-in-out 3s forwards infinite;
}

.header .logo .cake {
  right: -5px;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-animation: flyCake ease-in-out 3s forwards infinite;
          animation: flyCake ease-in-out 3s forwards infinite;
}

.header__title, .header__subtitle {
  text-align: center;
}

.header__title {
  font-size: 7rem;
  font-weight: 400;
  color: #3b403f;
  font-family: "La Parisienne";
}

.header__subtitle {
  font-size: 1.3rem;
  color: #f58c7c;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  position: relative;
  top: 10px;
}

.nav {
  z-index: 100;
  position: absolute;
  top: 11rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nav__menu {
  position: relative;
  margin: 0;
  padding: 20px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.nav__menu-text {
  display: none;
  position: relative;
  top: -9px;
  left: 5px;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.nav__menu-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 29px;
}

.nav__menu-inner {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 3px;
  -webkit-transition: background-color 0.1s 0.3s ease;
  transition: background-color 0.1s 0.3s ease;
  background-color: #333;
}

.nav__menu-inner::before, .nav__menu-inner::after {
  position: absolute;
  content: "";
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #333;
  -webkit-transition: -webkit-transform 0.2s 0.2s ease-in-out;
  transition: -webkit-transform 0.2s 0.2s ease-in-out;
  transition: transform 0.2s 0.2s ease-in-out;
  transition: transform 0.2s 0.2s ease-in-out, -webkit-transform 0.2s 0.2s ease-in-out;
}

.nav__menu-inner::before {
  top: -10px;
}

.nav__menu-inner::after {
  top: 10px;
}

.nav__list {
  margin-top: 50px;
}

.nav__list-item {
  margin-bottom: 20px;
  padding-left: 20px;
}

.nav__list-item a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.nav__list-item a:hover {
  color: #f58c7c;
}

.nav__list-instagram {
  display: block;
  padding: 2rem 0;
  text-align: center;
  font-size: 2rem;
  color: #829f9f;
}

.nav__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem auto;
}

.nav__icons a {
  display: block;
  margin-right: 1.5rem;
  width: 2.3rem;
  height: 2.3rem;
}

.nav__icons a svg {
  fill: #fbf2ec;
}

.nav__icons .mail {
  margin-right: 0;
  margin-left: 3px;
  width: 3rem;
  height: 3rem;
}

.nav__icons .mail svg {
  margin-top: 1.3px;
  width: 3rem;
  height: 3rem;
  -webkit-filter: invert(57%) sepia(33%) saturate(463%) hue-rotate(315deg) brightness(102%) contrast(86%);
          filter: invert(57%) sepia(33%) saturate(463%) hue-rotate(315deg) brightness(102%) contrast(86%);
}

.menu--active {
  z-index: 10;
}

.menu--active .nav__menu-inner {
  background-color: transparent;
}

.menu--active .nav__menu-inner::before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.menu--active .nav__menu-inner::after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.navigation {
  position: absolute;
  padding-bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 6.4rem;
  width: 100vw;
  max-width: 400px;
  background-color: #333;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.3s linear, opacity 0.3s linear;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.navigation__active {
  visibility: visible;
  opacity: 1;
}

.menu--scroll {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 0;
  right: 0;
  width: 100vw;
  background-color: #ffffffa3;
}

.show {
  display: inline-block;
}

.section {
  /*ABOUT*/
  /*WORK*/
}

.section__header {
  padding-bottom: 180px;
}

.section__header .container {
  position: relative;
}

.section__header-left {
  height: 45vh;
  max-width: 100vw;
}

.section__header img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__header-right {
  display: none;
}

.section__header-center {
  position: absolute;
  left: 50%;
  top: 80%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: transparent;
  width: 95vw;
  max-width: 400px;
}

.section__header-center-box {
  position: relative;
  background-color: #fbf2ec;
  padding: 1rem;
  height: 5rem;
  margin-bottom: 1rem;
}

.section__header-center h3,
.section__header-center a {
  position: absolute;
  top: 50%;
  left: 4%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.section__header-center h3 {
  font-size: 1.8rem;
}

.section__header-center a {
  display: block;
  margin-top: 2rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.section__header-center .header-last .fancy-style {
  text-transform: lowercase;
  letter-spacing: 0;
  font-size: 8rem;
}

.section__about {
  padding: 5rem 0;
  background-color: #F0F3F3;
}

.section__about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__about-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90vw;
  max-width: 450px;
}

.section__about-left-title {
  margin-bottom: 1rem;
}

.section__about-left-subtitle {
  font-family: "Rokkitt", serif;
  text-align: center;
  margin-bottom: 3rem;
}

.section__about-left img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2rem solid #fff;
}

.section__about-left p {
  margin-top: 3rem;
  text-align: center;
}

.section__about-left a {
  margin-top: 3rem;
}

.section__about-right {
  display: none;
}

.section__work {
  padding: 6rem 0;
}

.section__work .container {
  width: 90vw;
}

.section__work-left {
  display: none;
}

.section__work-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.6rem;
}

.section__work-right h2,
.section__work-right h3 {
  text-align: center;
  margin-bottom: 3rem;
}

.section__work-right-box {
  margin-bottom: 4rem;
}

.section__work-right-box .box-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.section__work-right-box .box-check p {
  font-weight: 400;
}

.section__work-right-box .box-check svg {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 1rem;
  width: 70px;
  fill: #829f9f;
}

/* OPINION */
.opinion__section {
  position: relative;
  padding: 7rem 0;
  background-image: url("../assets/images/pexels-ella-olsson-1640770.jpg");
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.opinion__section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 120px;
}

.opinion__section-header svg {
  display: block;
  width: 30px;
  fill: #fff;
}

.opinion__section-container {
  padding: 30px 20px;
}

.opinion__section .shadow-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 243, 243, 0.6);
  z-index: -1;
}

.opinion__section .slide-arrow {
  position: absolute;
  bottom: -30px;
  padding: 10px;
  cursor: pointer;
  border: transparent;
  background-color: transparent;
  z-index: 1;
  fill: #5e5e5e;
}

.opinion__section .slide-arrow svg {
  width: 50px;
}

.opinion__section .slick-prev svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.opinion__section-box-text {
  text-align: center;
  margin: 30px auto;
  font-weight: 400;
  font-style: italic;
  font-size: 2.1rem;
  line-height: 1.5;
}

.opinion__section-box-signature {
  text-align: center;
  font-family: "La Parisienne";
  font-size: 6rem;
}

.footer {
  background-color: #F0F3F3;
  padding-top: 6rem;
}

.footer__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__gallery-box {
  width: 33%;
  height: 35vw;
  max-height: 260px;
}

.footer__gallery-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__gallery .last-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fadcd2;
  padding: 1rem;
}

.footer__gallery .last-box p {
  text-align: center;
  letter-spacing: 0.2em;
  font-family: "Biko";
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.footer__gallery .last-box svg {
  display: block;
  width: 23px;
  fill: #3b403f;
}

.footer__gallery .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem 1rem 2rem 1rem;
}

.footer__bottom p:first-of-type,
.footer__bottom p:nth-of-type(2) {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

.footer__bottom p:nth-of-type(2) {
  text-align: end;
}

.footer__bottom p:last-of-type {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  margin-top: 2rem;
}

@media screen and (min-width: 375px) {
  .section__header-left {
    height: 50vh;
  }
  .opinion__section .slick-prev {
    left: -10px;
  }
  .opinion__section .slick-next {
    right: -10px;
  }
  .opinion__section-container {
    width: 85vw;
    margin: 0 auto;
    padding: 30px 25px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 3em;
  }
  .header__title {
    font-size: 8rem;
  }
  .header .logo {
    display: inline-block;
  }
  .nav {
    top: 1.5rem;
    right: 0;
    left: initial;
    -webkit-transform: initial;
            transform: initial;
    background-color: #fff;
  }
  .nav__menu-text {
    display: inline-block;
  }
  .nav-container {
    position: fixed;
    top: 0;
    right: 2rem;
    z-index: 100;
  }
  .navigation {
    left: -50%;
    top: 9rem;
    max-width: 340px;
  }
  .container {
    width: 95vw;
  }
  .section__header {
    padding-bottom: 10rem;
  }
  .section__header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section__header-left {
    width: 65%;
  }
  .section__header-right {
    display: block;
    width: 33%;
    height: 38vh;
  }
  .section__header-center {
    left: 65%;
    top: 50%;
  }
  .section__header-center h3 {
    font-size: 2.4rem;
  }
  .section__header-center .header-last h3 {
    font-size: 8rem;
  }
  .section__about {
    background-color: #fff;
  }
  .section__about-left {
    width: 50%;
    margin-right: 2rem;
  }
  .section__about-left-title {
    font-size: 9rem;
  }
  .section__about-left-subtitle {
    color: #f58c7c;
  }
  .section__about-left img {
    display: none;
  }
  .section__about-left p {
    margin-top: 0;
  }
  .section__about-left a {
    color: #3b403f;
    background-color: #fbf2ec;
  }
  .section__about-right {
    display: block;
    width: 43%;
    max-width: 500px;
  }
  .section__about-right img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border: 2rem solid #fbf2ec;
  }
  .section__work {
    padding: 10rem 0;
  }
  .section__work .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section__work-left {
    display: block;
    margin-right: 3rem;
    width: 44%;
    max-width: 420px;
    position: relative;
  }
  .section__work-left::after {
    position: absolute;
    content: '';
    background-color: #dfd8dc61;
    top: -20%;
    left: -20%;
    height: 110%;
    width: 95%;
    z-index: -1;
  }
  .section__work-left img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section__work-right {
    width: 55%;
    max-width: 700px;
  }
  .section__work-right-box .box-check svg {
    width: 50px;
  }
  .opinion__section {
    background-attachment: fixed;
    overflow: hidden;
  }
  .opinion__section-container {
    width: 85vw;
  }
  .opinion__section-header .opinion-quote {
    bottom: -50%;
    left: 10%;
    width: 50px;
    height: 50px;
    fill: #f58c7c;
    z-index: 10;
  }
  .opinion__section-box-text {
    max-width: 600px;
    font-size: 2.4rem;
  }
  .opinion__section .slick-prev {
    left: -40px;
  }
  .opinion__section .slick-next {
    right: -40px;
  }
  .footer__gallery .last-box {
    padding-left: 2rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__gallery .last-box p {
    font-size: 1.8rem;
    text-align: left;
    font-weight: 700;
  }
  .footer .footer-icons {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 1rem 0;
  }
  .footer__bottom {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__bottom p {
    font-size: 1.3rem;
  }
  .footer__bottom p:last-of-type, .footer__bottom p:first-of-type, .footer__bottom p:nth-last-of-type(2) {
    margin: 0 1rem;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

@media screen and (min-width: 993px) {
  .header__title {
    font-size: 9rem;
  }
  .section__header-left {
    height: 75vh;
  }
  .section__header-right {
    height: 65vh;
  }
  .section__header-center {
    padding: 3rem;
    max-width: 545px;
    left: 64%;
    top: 52%;
  }
  .section__header-center h3 {
    font-size: 3rem;
  }
  .section__header-center .header-last h3 {
    font-size: 10rem;
  }
  .section__about {
    padding: 15rem 0;
  }
  .section__about-left {
    margin-right: 8rem;
  }
  .section__about-left-title {
    margin-bottom: 0;
    font-size: 12rem;
  }
  .navigation {
    max-width: 400px;
  }
  .opinion__section-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 1000px;
  }
  .opinion__section-box-text {
    font-size: 2.8rem;
  }
  .opinion__section .slide-arrow {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .opinion__section .slick-prev {
    left: 3e;
  }
  .opinion__section .slick-next {
    right: -3rem;
  }
  .footer__gallery-box {
    width: 16.6%;
    height: 16vw;
  }
  .footer__gallery-box:nth-of-type(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__gallery-box:nth-of-type(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer__gallery-box:nth-of-type(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .footer__gallery-box:nth-of-type(4) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .footer__gallery-box:nth-of-type(5) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
}
/*# sourceMappingURL=main.css.map */