$light-beige: #fbf2ec;
// $dark-beige: #ff6586;
// $dark-beige: #f58c7c;
// $dark-beige: #ec6471;
$dark-beige: #d38b87;
$pink: #f58c7c;
$light-pink: #fadcd2;
$main-grey: #3b403f;
$mint: #F0F3F3;
$white: #fff;