@media screen and (min-width: 375px) {
  .header {
    &__title {
      // font-size: 2.3rem;
    }
  }

  .section {
    &__header {
      &-left {
        height: 50vh;
      }
      &-center {
        // h3 {
        //   font-size: 3.3rem;
        //   letter-spacing: 0.2rem;
        // }
        // a {
        //   font-size: 1.6rem;
        // }
      }
    }
  }
  .opinion__section {
    .slick-prev {
      left: -10px;
    }

    .slick-next {
      right: -10px;
    }

    &-container {
      width: 85vw;
      margin: 0 auto;
      padding: 30px 25px;
    }
  }
}
